@import "https://fonts.google.com/specimen/Jost?preview.text=warner+live&preview.text_type=custom";

$background-color: #141414;
$button-bgcolor: white;
$button-color-font: #141414;
$main-font: 'Jost', sans-serif;
$font-color: #ffffff;
$padding: 20px;
$desk-resolution: 1280px;
$mobile-resolution: 750px;