@use 'variables' as var;
@use 'mixins' as mix;

body {
    margin: 0;
    padding: 0;
    font-family: var.$main-font;
    color: var.$font-color;
    background-color: var.$background-color;
}

header {
    display: flex;
    height: 125px;
    padding: var.$padding;
    justify-content: space-between;
    align-items: center;

    & .header-logo {
        display: flex;
        align-items: center;
        gap: 20px;

        .platform-title {
            font-size: 21px;
        }
    }

    & .header-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 60px;
        }
    }

    @include mix.desktop-resolution {
        .platform-title {
            display: none;
        }
    }

    .header-buttons div:hover {
        @include mix.animation-button;
    }
}

main {
    display: flex;
    flex-direction: column;
    padding: var.$padding;

    #top-text {
        font-weight: 900;

        &::before {
            content: "5";
        }
    }

    @include mix.desktop-resolution {
        #top-text::before {
            content: "3";
        }
    }

    section {
        padding-bottom: 50px;
    }

    .section-title {
        padding-bottom: 10px;
    }

    @include mix.mobile-resolution {
        .section-title {
            font-size: 24px;
        }
    }

    & .top,
    & .first,
    & .second {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .top-item,
        .item {
            flex-grow: 1;
            flex-shrink: 1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .top-item {
            flex-basis: 225px;
        }

        .item {
            flex-basis: 250px;

            :hover {
                @include mix.animation-item;
            }
        }
    }

    & .top {
        flex-direction: row-reverse;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;

        @include mix.desktop-resolution {
            .top-item:nth-child(1),
            .top-item:nth-child(2) {
                display: none;
            }
        }

        @include mix.mobile-resolution {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}